* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-style: normal;
  font-family: "Raleway";;
}

.nav,
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  padding: 0 2em;
}

.nav h1,
.slider h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  color: #4671e5;
  transition: all 0.3s ease;
  z-index: 3;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #57c6ec;
}

.slider h2 {
  font-size: 2vw;
  letter-spacing: 0.3rem;
  font-family: "Circular-Loom", sans-serif;
  font-weight: 300;
  color: #000000;
  z-index: 4;
}


h3.span {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "Circular-Loom", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

span:hover {
  color: #57c6ec;
  font-weight: 500;
  font-size: 2.2vw;
}

a {
  text-decoration: none;
}


.nav-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
  position: fixed;
  top: 75px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
  position: fixed;
  top: 0;
}
.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1vw;
}

.nav-tab:hover {
  color: #1e1f26;
  background: #4671e5;
  transition: all 0.5s ease;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #03dac6;
  transition: left 0.3s ease;
}
.background {
  position: absolute;
  height: 90vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
/*----------------------------------------ESTILO DE LOS ARTICULOS----------------------------*/
/*-----INICIO------*/
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.main {
  text-align: left;
}
@media all and (min-width: 600px) {
  .aside {
    flex: .1 auto;
  }
}
@media all and (min-width: 800px) {
  .main {
    flex: 1 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }
}

p{
  font-size: 30px;
}
p.subtitle{
  font-size: 20px;
  text-transform: uppercase;
  color: #57c6ec;
  font-weight: bold;
  line-height: 3;
}
.oval-half-left {
  width: 20vw;
  height: 30vh;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);  
}
.oval-half-right {
  width: 20vw;
  height: 30vh;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);  
}

.text-section {
  overflow-x: clip;
  width: 100%;
  height: auto;
}
.section {
  padding: 4vh 4vw 4vh 4vw;
}
/*-------NOSOTROS------*/
.column-50 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.nosotros-aside {
  margin-left: 12rem;
  margin-left: 4vw;
}
.nosotros-aside-img {
  margin-left: 4rem;
  position: relative;
  top: 5%;
  right: 20px;
}
.nosotros-aside-img img {
  width: 100%;
  height: 100%;
}
.section-title {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--first-color);
  font-size: 1.2rem;
}
.section-subtitle {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--black-color);
  font-size: 2vw;
  width: auto;
}

.section-text {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--black-color);
  font-size: 1.5vmax;
  width: auto;
}
.nosotros-aside-img {
  margin-left: 4rem;
  position: relative;
  top: 5%;
  right: 20px;
}
.nosotros-aside-img img {
  width: 100%;
  height: 100%;
}
.semi-ovalo {
  clip-path: ellipse(81% 51% at 18% 50%);
}
.reverse3 {
  grid-column-start: 1;
  grid-row-start: 1;
}
/*----------SERVICIOS------------*/
.servicios-aside-img img {
  width: 100%;
  height: 100%;
}

.servicios-h3-subtitle {
  text-align: left;
  margin: 2rem;
  margin-bottom: 0;
  color: rgb(55, 55, 55);
  font-size: 1.5rem;
  width: auto;
}

.servicios-aside-footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.servicios-h4-text {
  text-align: left;
  color: rgba(99, 99, 99, 0.663);
  font-weight: bold;
  font-size: 1.2rem;
  width: auto;
}
.servicios-h4-text ul {
  list-style: none;
  margin: 0.5rem;
}
.servicios-h4-text{
  font-size: 1rem;
}




/*----------------------------------------FIN DE ESTILO DE LOS ARTICULOS----------------------------*/


@media (min-width: 800px) {
  .nav h1,
  .slider h1 {
    font-size: 5vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 3vw;
  }

  .nav-tab {
    font-size: 3vw;
  }
}

@media screen only (min-width: 360px) {
  .nav h1,
  .slider h1 {
    font-size: 8vw;
  }

  .nav h2,
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
  }

  .nav-tab {
    font-size: 1.2vw;
  }
}
.background {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.loader span {
  color: #4671e5;
  text-shadow: 0 0 0 #4671e5;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #4671e5;
    color: #57c6ec;
  }
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 2s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}
